{% load static %}

<div class="footercont">
    <div class="footergrid">
        
        <div class="fg2" style="background-image:url({% static 'img/cayanlogo.png'%})">
            
        </div>
        <div class="fg3">
            <a href="{% url 'frontend:impressum'%}">Impressum</a>
            <a href="{% url 'frontend:datenschutz'%}">Datenschutz</a>
        </div>
        <div class="fg4">
            <a href="#"><div class="socialicon" style="background-image:url({% static 'img/facebook.png'%})"></div></a>
            <a href="#"><div class="socialicon" style="background-image:url({% static 'img/instagram.png'%})"></div></a>
            <a href="#">
                <div class="teliconfield">
                    <div class="telicon" style="background-image:url({% static 'img/phone.png'%});margin-right:5px;"></div>
                    <div class="number">06105 7038233</div>
                </div>
            </a>
        </div>
    </div>
    <div class="fg5">
        2022 CAYAN MEISTERBETRIEB. Powered by Racine Deux.

    </div>



</div>